.card {
  width: 350px;
  padding: 24px 24px 32px;

  background-color: #15263f;
  border-radius: 15px;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 24px;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

p.description {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  color: #8bacd9;
}

hr {
  height: 1px;
  background-color: #2e405a;
  margin-block: 24px 16px;
  border: 0;
}

h1:hover {
  color: #00fff8;
}

.text-sm {
  font-size: 16px;
}

@media only screen and (max-width: 375px) {
  .card {
    width: auto;
    padding: 24px;
    margin: 0 24px;
  }

  p.description {
    margin-top: 12px;
  }

  .currency-container {
    margin-top: 16px !important;
  }

  .text-sm {
    font-size: 15px;
  }

  hr {
    margin-block: 16px;
  }
}
