@media only screen and (max-width: 1220px) {
    body {
        padding-inline: 100px;
    }
}
@media only screen and (max-width: 1060px) {
    body {
        padding-inline: 50px;
    }
    .phone {
        padding-inline: 0;
    }

}

/** tablets **/

@media only screen and  (max-width:920px) {

    .pattern-1 {
        display: none;
    }

    .pattern-1-mob {
        
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        max-width: 100%;
    }

    .intro-container h1 {

        font-size: 64px;
        letter-spacing: -0.727px; ;
    }

}

@media only screen and  (max-width:768px) {
    body {
        padding-inline: 0;
    }
    
    header {
        padding-inline: 39px;
    }
    
    .phone-img, .desktop, .pattern-2{
        display: none;
    }

    .tablet {

        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
    }

    .phone-img-mob {

        display: inline;
        position: absolute;
        left: 64px;
    }
    
    .pattern-2-mob {
        display: block;
        margin-left: 30.271%;

    }
 

    main {
        padding-inline: 33px 39px;
    }
    
    main .intro-container {
        
        width: 70%;
        margin-top: 88px;
        gap: 28px;
        margin-left: 6px;
    }

 
    
    .intro-container p {
        
        width: 100%;
        font-size: 18px;
        line-height: 155.5%;
    }
    
    main .main-info-container {
        
        margin-top: 249px;
    }

    .phone {
        top: -138px;
    }

    .main-info-container .subscription {

        width: 43%;
        bottom: -96px;
        padding: 48px 49px 48px 54px;
    }

    .subscription h3 {
        
        font-size: 32px;
        line-height: 125%;
        margin-left: -6px;
    }

    .subscription .preferences {

        font-size: 18px;
        line-height: 155.5%;
        margin-block: 12px 36px;
        margin-left: -6px;

    }



    .apple {
        margin-block: 32px 16px;
    }

    footer {

        padding-inline: 33px 39px;
        margin-block: 183px 85px;
       
        flex-direction: column;
    }

    footer .wrapper {

        justify-content: space-between;
        margin-top: 32px;
    }

    footer img{ 

        margin-left: 1.15px;
    }
    footer p {
        padding-inline: 0;
        flex-basis: 50%;
    }
    
}

/** mobiles **/

@media only screen and (max-width: 600px) {

    
    .pattern-1-mob, .tablet, .phone-img-mob {
        display: none;
    }
    
    .pattern-2-mob {
    
        margin-left: 0;
    }
    .phone-img-mob2 {
        
        display: block;
    }

    .mobile {
        
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
    }
    
    header, footer, main .intro-container {
        padding-inline: 24px;
    }

    main {
        padding: 0;
    }

    header .logo-header {
        margin-top: 40px;
    }

    main .intro-container {

        margin-left: 0;
        margin-top: 60px;
        gap: 20px;
        width: fit-content;
    }

    .intro-container h1 {

        font-size: 40px;
        line-height: 120%;
        letter-spacing: -0.455px
    }

    .intro-container p {

        font-size: 16px;
        line-height: 162.5%;
    }

    main .main-info-container {

        margin-top: 165px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    .phone {
        top: -98px;
    }

    .main-info-container .pattern-2 {

        margin-left: 0;
    }

    .main-info-container .subscription {

        width: 100%;
        left: 0;
        bottom: -326px;
        box-sizing: border-box;

        padding-inline: 42px 37px ;
    }

    footer {
        margin-block: 390px 80px;
    }

    footer .wrapper {

        gap: 64px;
        flex-direction: column;
    }

    footer .icons {

        align-self: flex-start;
    }

}