:root {

    --cyan: #66E2DC;
    --red: #FA7453;
    --cream: #FFB964;
    --white: #FCFAF9;
    --black: #191826;

    --heading1: 88px;
    --heading2: 40px;

    --body1: 20px;
    --body2: 16px;
}